body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-container{
  max-width: 600px;
}

.input-add{
  margin-top: 10px;
  width: 600px;
}

.tr-size{
  width: 600px !important;
}

.bg.light{ 
  background-image: url(./image/abstract-blue-geometric-shapes-background_1035-17545.jpg)
}